%h1
  = "Listing contexts"

%table.table
  %tr
    %th 
      = "City"
    %th
      = "Associate adjustment" 
    %th
      = "Edit"
    %th
      = "Delete"
  - @contexts.each do |context|
    %tr
      %td
        = context.city.name
      %td
        = link_to "Associate ajustment", "/#/contexts/#{context.id}/users/#{current_user.firstname}/adjustment_types" 
      %td
        = link_to "Edit", "/#/users/#{current_user.firstname}/contexts/#{context.id}/edit"
      %td
        = link_to "Destroy", "/#/contexts/#{context.id}", method: :delete, data: {confirm: "Are you sure ?" }

